html
    head
        title= title
    body
        h1= message
        form(action='/updateUser' method="post")
            div(hidden)
                label(for=createdDate)
                input(id= "createdDate", name= "createdDate", value= user.createdDate)
            div(hidden)
                label(for=_id)
                input(id= "_id", name= "_id", value= user._id)
            div
                label(for=firstName) First Name:
                input(id= "firstName", name= "firstName", required= true, value= user.firstName)
            div
                label(for=lastName) Last Name:
                input(id= "lastName", name= "lastName", required= true, value= user.lastName)
            div
                label(for=email) Email
                input(id= "email", name= "email", required= true, value= user.email)
            div
                label(for=password) Password
                input(id= "password", name= "password", required= true, value= user.password)
            div
                label(for=role) Role
                input(id= "role", name= "role", required= true, value= user.role)
            div
                label(for=age) Age
                input(id= "age", name= "age", required= true, value= user.age)
            div
                input(type= "submit")