html
    head
        title= title
        //link(rel='stylesheet', href='./../public/style.css')
    body
        h1(class='myClass', id='myId')= message
        //button(action='/newUser' method="get")
        a(href='/users') Back to User list; in Create Date Order
        br
        a(href='/lastNameAscending') Sort Last Name Ascending
        br
        a(href='/lastNameDescending') Sort Last Name Descending
        br
        table
            tr
                th First Name
                th Last Name
                th Email
                th Password
                th Role
                th Age
                th Edit
                th Delete
            dl
                each name, index in users
                    tr
                        td= name.firstName
                        td= name.lastName
                        td= name.email
                        td= name.password
                        td= name.role
                        td= name.age
                        td
                            a(href='/users/' + name._id)= 'EDIT'
                        td
                            a(href='/removeUser/' + name._id)= 'DELETE'
                        td(hidden)= name._id
                        td(hidden)= name.createdDate
