
html
    head
        title= title
    body
        h1(class='myClass', id='myId')= message
        //button(action='/newUser' method="get")
        a(href='/newUser') Create New User


        //h2.myClass.mySecondClass#numUsers Total Users: #{partial}
        //a(href='/myEndPoint')
        table
            dl
                each name, index in users
                    dt= index + ': ' + name.firstName + ' ' + name.lastName
                    a(href='/users/' + name.firstName)= 'EDIT'
                    div
                        a(href='/removeUser/' + name.uid)= 'DELETE'
                    dd= 'E-mail: ' + name.email
                    dd= 'Password: ' + name.password
                    dd= 'Role: ' + name.role
                    dd= 'Age: ' + name.age


//(style={color: 'red', background: 'green'})
    //th User ID
    //th First Name
    //th Last Name
    //th Email
    //th Age